h1 {
    color: rgb(0, 112, 210);
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #0C2644;
    color: white;
    min-height: 50vh;
    width: 80vw;
    overflow: inherit ;
}